<main>
  <div class="nav-bar">
    <button><img src="/assets/imgs/tree-lines.svg" alt="icon-lines"></button>
    <div>
      <button><img src="/assets/imgs/magnifier.svg" alt="wolf-icons"></button>
      <button><img src="/assets/imgs/shopping-cart.svg" alt="icon-cart"></button>
    </div>
  </div>
  <div class="header">
    <h1>Chose Your <img src="/assets/imgs/shoes-small.svg" alt="shoes"></h1>
    <h2>Brand New Sneaker</h2>
  </div>
  <div class="card-promotion">
    <div>
      <h1>40% OFF</h1>
      <h3>Shop All Our New Markdowns</h3>
    </div>
    <img src="/assets/imgs/shoes-banner.svg" alt="shoes">
  </div>
  <div class="categories">
    <ul>
      <li>All</li>
      <li>Men</li>
      <li>Women</li>
      <li>Boy</li>
      <li>Girl</li>
    </ul>
  </div>
  <div [routerLink]="['/store']" class="store">
    <div>
      <img class="promotion" src="/assets/imgs/promotion.svg" alt="promotion">
      <img class="shoes" src="/assets/imgs/shoes-store-test.svg" alt="shoes">
    </div>
    <h1>Colorful Sports Boot Sneaker</h1>
    <h2>$180.80</h2>
  </div>
  <div class="footer">
    <img [routerLink]="['']" src="/assets/imgs/home.svg" alt="icon-house">
    <img src="/assets/imgs/grid.svg" alt="icon-four-points">
    <img src="/assets/imgs/heart.svg" alt="icon-heart">
    <img src="/assets/imgs/user.svg" alt="icon-people">
  </div>
</main>
